@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@media (max-width: 425px) {
  html {
    scroll-snap-type: none;
    scroll-behavior: none;
  }
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 232, 225);
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 10%;
  display: flex;
  background-color: #181818;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: opacity 4s;
  opacity: 1;
}

@media (max-width: 768px) {
  header {
    position: relative;
  }
}

header.hide {
  opacity: 0;
}

.logo {
  width: 100px;
}

.nav-bar a {
  color: #4cba4c;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.nav-bar a:hover,
.nav-bar a.active {
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
}

.home-image {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  border-radius: 50%;
  position: relative;
  top: 30px;
  max-width: 500px;
}

.home-content {
  text-align: right;
  max-width: 600px;
}

@media (max-width: 900px) {
  #home {
    display: block;
    margin-top: 100px;
  }
  .home-content {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .home-image {
    margin-left: auto;
    margin-right: auto;
  }
  .home-image img {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .home-image {
    display: none;
  }
}

@media (max-width: 425px) {
  .home-image img {
    max-width: 300px;
    margin-right: 230px;
  }
}
@media (max-width: 375px) {
  .home-image img {
    max-width: 250px;
  }
}

.home-content h1 {
  font-size: 5rem;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 1px rgb(12, 10, 10);
  line-height: 1.2;
  background-image: linear-gradient(#4cba4c, #4cba4c);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -410px 0;
  animation: animateText 6s linear infinite;
}

.home-content h4 {
  font-size: 2rem;
}

@keyframes animateText {
  0%,
  95%,
  100% {
    background-position: -550px 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

.btn {
  line-height: 2.4;
  font-size: 1.4rem;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid rgb(12, 10, 10);
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 1px 1px 3px;
}

.btn:hover {
  color: #4cba4c;
  box-shadow: 1px 10px 10px rgb(12, 10, 10);
}

/* Home Page end line */

/* About me start line */

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content h1 {
  font-size: 5rem;
  text-align: center;
}

.content {
  border: 5px solid #181818;
  width: 800px;
}

.content p {
  font-size: 1.3em;
  text-align: left;
  padding: 20px;
  margin: 5px;
  font-weight: 600;
}

@media (max-width: 810px) {
  .content {
    width: 500px;
    margin-left: 10px;
    margin-top: 100px;
  }
  .content p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .nav-bar a {
    display: none;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
}

@media (max-width: 600px) {
  .content p {
    font-size: 1em;
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .content {
    width: 350px;
    margin-top: 100px;
  }
  .content h1 {
    font-size: 4rem;
  }
  .content p {
    font-size: 0.9em;
  }
}

/* about me end line */

.tech-stack-container {
  padding: 0;
}

.tech-title {
  font-size: 4rem;
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  margin-top: 380px;
}

.tech-stack-content {
  margin-top: 100px;
  gap: 100px;
  float: right;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tech-stack-content img {
  width: 100px;
}

@media (max-width: 1750px) {
  .tech-title {
    font-size: 3.4rem;
    padding-left: 20px;
    margin-top: 320px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .tech-stack-content {
    gap: 75px;
    padding-right: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* float: none;
    display: grid;
    place-items: center; */
  }
  .tech-stack-content img {
    width: 81px;
  }
}

@media (max-width: 1570px) {
  .tech-title {
    font-size: 3.1rem;
    padding-left: 10px;
    margin-top: 300px;
  }
  .tech-stack-content {
    gap: 70px;
    padding-right: 5px;
    /* float: none;
    display: grid;
    place-items: center; */
  }
  .tech-stack-content img {
    width: 75px;
  }
}

@media (max-width: 1482px) {
  .tech-title {
    font-size: 3rem;
    padding-left: 60px;
    margin-top: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tech-stack-content {
    margin-top: 50px;
    gap: 90px;
    padding-right: 120px;
    float: none;
    display: grid;
    place-items: center;
  }
  .tech-stack-content .tech-logo {
    font-size: 1.5rem;
  }
  .tech-stack-content img {
    width: 80px;
  }
}

@media (max-width: 1215px) {
  .tech-title {
    font-size: 3rem;
    padding-left: 25px;
    margin-top: 300px;
  }
  .tech-stack-content {
    gap: 65px;
    padding-right: 80px;
  }
  .tech-stack-content .tech-logo {
    font-size: 1rem;
  }
  .tech-stack-content img {
    width: 80px;
  }
}

@media (max-width: 1012px) {
  .tech-title {
    margin-top: 290px;
    font-size: 2.8rem;
    padding-left: 20px;
  }
  .tech-stack-content {
    gap: 60px;
    padding-right: 30px;
    margin-bottom: 70px;
  }
  .tech-stack-content .tech-logo {
    font-size: 1.2rem;
  }
  .tech-stack-content img {
    width: 75px;
  }
}

@media (max-width: 956px) {
  .tech-title {
    margin-top: 300px;
    font-size: 2.5rem;
    padding-left: 10px;
  }
  .tech-stack-content {
    gap: 70px;
    padding-right: 30px;
  }
  .tech-stack-content .tech-logo {
    font-size: 1rem;
  }
  .tech-stack-content img {
    width: 75px;
  }
}

@media (max-width: 889px) {
  .tech-title {
    margin-top: 300px;
    font-size: 2.3rem;
    padding-left: 30px;
  }
  .tech-stack-content {
    gap: 65px;
    padding-right: 20px;
    margin-bottom: 130px;
  }
  .tech-stack-content .tech-logo {
    font-size: 1rem;
  }
  .tech-stack-content img {
    width: 70px;
  }
}

@media (max-width: 844px) {
  .tech-title {
    padding: 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech-stack-content {
    padding: 0;
    float: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .tech-stack-content .tech-logo {
    font-size: 1.5rem;
  }
  .tech-stack-content img {
    width: 70px;
  }
}

@media (max-width: 768px) {
  .tech-title {
    margin-bottom: 100px;
    margin-top: 0;
    padding-top: 100px;
    font-size: 2.5rem;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech-stack-content {
    float: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .tech-stack-content .tech-logo {
    font-size: 1.3rem;
  }
  .tech-stack-content img {
    width: 60px;
  }
}

@media (max-width: 425px) {
  .tech-title {
    margin-bottom: 100px;
    padding-top: 100px;
    font-size: 2.5rem;
    /* padding-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tech-stack-content {
    float: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tech-stack-content .tech-logo {
    font-size: 1.3rem;
  }
  .tech-stack-content img {
    width: 60px;
  }
}

.tech-stack-content div {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 40px;
}

.tech-logo {
  display: flex;
  align-items: center;
}

/* Project startline */

.header-projects {
  font-size: 5rem;
  text-align: center;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding: 3rem;
}
.main-image {
  width: 550px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  border: 1px solid #181818;
  padding: 1rem;
}
.project-content h3 {
  color: #181818;
  text-align: center;
  font-weight: 700;
}
.project-content p {
  color: #181818;
  text-align: center;
}
.project-content .image-content {
  display: flex;
  align-items: center;
}

@media (max-width: 1750px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 550px;
    height: 200px;
    place-self: center;
  }
}

@media (max-width: 1680px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 500px;
    height: 200px;
    place-self: center;
  }
}

@media (max-width: 1280px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 450px;
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .header-projects {
    margin: 0;
  }
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 380px;
    height: 180px;
  }
}
@media (max-width: 990px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }
  .main-image {
    width: 360px;
    height: 180px;
  }
}

@media (max-width: 800px) {
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-image {
    width: 430px;
    height: 150px;
    place-self: center;
  }
}

@media (max-width: 600px) {
  .header-projects {
    font-size: 4rem;
  }
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-image {
    width: 430px;
    height: 150px;
    place-self: center;
  }
}

@media (max-width: 425px) {
  .header-projects {
    font-size: 3.5rem;
    text-align: center;
  }
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 0;
  }
  .main-image {
    width: 230px;
    height: 120px;
    place-self: center;
  }
  .main-image img {
    width: 30px;
  }
  .project-content h3 {
    font-size: 0.9rem;
  }
  .project-content p {
    font-size: 0.8rem;
  }
}

/* end line project */

/* Work in progress */

.wip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
}

.wip-header {
  font-size: 5rem;
  color: #181818;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .wip-header {
    font-size: 4rem;
  }
  .wip {
    min-height: 20vh;
  }
}
@media (max-width: 425px) {
  .wip-header {
    font-size: 2.5rem;
  }
}

.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  padding: 2px;
  width: 40%;
  height: 20px;
  border: 2px solid #181818;
  border-radius: 20px;
}

.loading .line-box .line {
  height: 20px;
  border-radius: 20px;
  background: #4cba4c;
  transform: translateX(50%, 50%);
  overflow: hidden;
  animation: loading 5s linear infinite;
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .wip-header {
    text-align: center;
    margin-top: 250px;
  }
}

/*  */

footer {
  position: relative;
  background-color: #181818;
  margin-top: -100px;
  clear: both;
}

.img-logo {
  width: 50px;
}

footer p {
  color: whitesmoke;
  text-align: center;
  font-weight: 700;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.footer-links a {
  color: whitesmoke;
  color: #dcdcdc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #dcdcdc;
  filter: blur(1px);
}
